@import "common/transition.scss";
@import "icon.scss";
.show-scroll::-webkit-scrollbar {
    display: block;
    width: 7px;
    height: 7px;
    background-color: #ffd3d3;
    border-radius: 50px;
  }
  
  .show-scroll::-webkit-scrollbar-track {
    background-color: #F1F1F1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.22);
    border-radius: 50px;
  }
  
  .show-scroll::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 50px;
  }
  
  .show-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
  }
  
  .show-scroll::-webkit-scrollbar-thumb:active {
    background-color: #787878;
  }